/* ν—¤λ” */
header {
    display: flex; position: fixed; top:0; left: 0; z-index: 100;
    width: 100%; justify-content: space-between; align-items: center;
    padding: 0 50px; height: 80px; 
}
header .head_logo {}
header .head_logo img {height: 49px;}
header .gnb {
    display: flex; 
    gap: 45px; position: absolute; left: 50%; transform: translateX(-50%);
}
header .gnb li {}
header .gnb li a {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    transition: color .23s;
}
header .head_sns {
    display: flex; align-items: center; gap: 35px;
}
header .head_sns li {}
header .head_sns li a {}
header .head_sns li a img {}

header.h_white {filter: invert(0);}
header.h_black {filter: invert(0.8);}
header.h_none {opacity: 0;}



/* -------------------------------------------------------- */
/* ν‘Έν„° */
footer {background: #47a6ff; padding: 10px 40px 60px;}
footer .footer_sns {}
footer .footer_sns > li {
    border-bottom: 2px solid #fff; padding: 30px 0 20px;
    position: relative;
}
footer .footer_sns > li::after {
    content: ""; width: 38px; height: 38px; 
    background: url("../images/ico_link-arrow.svg");
    display: block; position: absolute; right: 0; top: 33%;
    transform: translateX(-50%); background-size: cover;
}
footer .footer_sns > li a {
    display: flex; align-items: center; gap: 50px;
    font-size: 2em; font-weight: 600; color: #fff; letter-spacing: -0.03em;
}
footer .footer_sns > li a:hover {color:#fdff92;}
footer .footer_sns > li a i {width: 41.5px; aspect-ratio: 1 / 1; display: inline-block;}
footer .footer_sns > li a svg {width: 100%; height: 100%;}
footer .footer_sns > li a svg path {width: 100%; height: 100%;}
footer .footer_sns > li a:hover svg path { fill: #fdff92; }
footer .footer_info {}
footer .footer_info * {color: #fff; font-size: 0.875em;}
footer .footer_info .footer_logo {
    mix-blend-mode: plus-lighter; width: 103px;
    margin: 90px 0 30px;
}
footer .footer_info .footer_logo img {
    width: 100%;
}
footer .footer_info .contact {
    margin-bottom: 30px;
}
footer .footer_info .contact dt {
    font-size: 1em; margin-bottom: 10px;
}
footer .footer_info .contact dd {font-size: 1em;}
footer .footer_info address * {
    font-size: 1em; line-height: 1.4;
}
footer .footer_info address span {display: block;}
footer .footer_info address .kor {margin-bottom: 10px;}
footer .copyright {
    color: #fff; font-size: 0.75em; width: 85%;
    text-align: center; margin: 150px auto 0;
}
footer .copyright em {
    color: #fff; display: block; margin-bottom: 20px;
    font-weight: 500;
}