/* pc버전 */

/* 메인 */
html {font-size: 0.05208vw;}

main {
    width: 100%;
    max-width: 100%;
}

main section {
    width: 100%; max-width: 100%;
}

/* 메인0 - 인트로 */
main .sect_00 {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none;
}

main .sect_00 .intro_pc {}

main .sect_00 .intro_pc img {
    width: 100%;
}

main .sect_00 .intro_mo {
    display: none;
}

main .sect_00 .intro_mo img {}

/* 메인1 - 상단 슬라이드 */
main .sect_01 {
    position: relative;
    width: 100%;
}

main .sect_01 .swiper-container {
    position: relative;
    width: 100%;
    height: 92.5925925926vh;
    overflow: hidden;
}

main .sect_01 .swiper-container > ul {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
    box-sizing: content-box;
}

main .sect_01 .swiper-container>ul li {
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

main .sect_01 .swiper-container>ul li a {
    pointer-events: auto;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

main .sect_01 .swiper-container>ul li a video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .sect_01 .swiper-container>ul li a video source {}

main .sect_01 .swiper-container .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto !important;
    height: 58rem;
    padding: 24rem 23rem;
    position: absolute;
    left: 50% !important;
    top: auto !important;
    bottom: 30rem !important;
    transform: translate(-50%);
    border-radius: 76rem;
    background-color: hsla(0, 0%, 100%, .14);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .06);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    gap: 18rem;
}
main .sect_01 .swiper-container .swiper-pagination .swiper-pagination-bullet {
    width: 10rem;
    height: 10rem;
    margin: 0 !important;
    background-color: #e8e8e8;
    transition: all .4s linear;
    opacity: 1 !important;
}
main .sect_01 .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
    position: relative;
    width: 36rem;
    border-radius: 38rem;
}

/* 메인2 - 프로필 */
main .sect_02 {
    background: #47a6ff; width: 100%;
}

main .sect_02 .txt_group {
    font-weight: 600;
    font-size: 194rem;
    line-height: 170rem;
    letter-spacing: -.05em;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 200rem 46rem 100rem 40rem;
}

main .sect_02 .txt_group h2 {
    font-weight: 600;
    font-size: 194rem;
    line-height: 170rem;
    letter-spacing: -.05em;
    color: #fff;
    text-transform: uppercase;
}

main .sect_02 .txt_group h2 img {
    width: 526rem;
    margin-top: -80rem;
    margin-left: 20rem;
    display: block;
    margin-bottom: 45rem;
}

main .sect_02 .txt_group .profile_info {
    flex-direction: column;
    max-width: 500rem;
    margin-top: 416rem;
    padding-left: 6rem;
}

main .sect_02 .txt_group .profile_info .tabs {
    display: flex;
    gap: 10rem;
    margin-bottom: 30rem;
    font-weight: 600;
    font-size: 194rem;
    line-height: 170rem;
    letter-spacing: -.05em;
    color: #fff;
}

main .sect_02 .txt_group .profile_info .tabs .tab {
    padding: 11rem 22rem 10rem;
    border: 1px solid #b0d9ff;
    border-radius: 100rem;
    font-family: Acumin Pro, sans-serif;
    font-weight: 600;
    font-size: 14rem;
    line-height: 1;
    color: #b0d9ff; letter-spacing: 0;
    cursor: pointer;
}

main .sect_02 .txt_group .profile_info .tabs .tab.now {
    color: #fdff92; border-color: #fdff92;
    border-width: 1.5px;
}

main .sect_02 .txt_group .profile_info .contents {}

main .sect_02 .txt_group .profile_info .contents .content {
    display: none;
}
main .sect_02 .txt_group .profile_info .contents .content.now {
    display: block;
}

main .sect_02 .txt_group .profile_info .contents .content p {
    font-family: Pretendard;
    font-weight: 500;
    font-size: clamp(7px, 1vw, 18rem);
    line-height: clamp(12rem, 2vw, 28rem);
    -webkit-text-size-adjust: 100%;
    letter-spacing: -.05em;
    color: #fff;
    word-break: keep-all;
}

main .sect_02 .txt_group .profile_info .contents .content p.eg {
    letter-spacing: 0;
    margin-top: 30rem;
    font-weight: 500;
    line-height: clamp(12px, 2vw, 26rem);
    font-family: Acumin Pro, sans-serif;
    word-break: keep-all;
    text-transform: none;
}



main .sect_02 .video_box {
    position: relative; 
    width: 100%;
    height: auto;
    display: none;
}
main .sect_02 #video {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

main .sect_02 .sect02_btn_wrap {
    position: absolute; right: 30px; bottom: 30px; z-index: 10;
}
main .sect_02 .sect02_btn_wrap button {
    width: 56px; height: 56px;
    box-shadow: 0 0 12.17px 0 rgba(0,0,0,.1803921569);
    border-radius: 50%;
}
main .sect_02 .sect02_btn_wrap button img {width: 100%;}
main .sect_02 .sect02_btn_wrap .start_btn {}
main .sect_02 .sect02_btn_wrap .pause_btn {}

.kv {
    position: relative;
    height: 1000vh;
    background-color: #47a6ff;
}

.kv-container {
    width: 100%;
    position: sticky;
    top: 0;
}

.kv-main {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.kv-main__textMotion {
    position: absolute;
    top: 100%;
}

.kv-main__textMotion-top {
    right: 35rem;
    text-align: left;
    z-index: 30;
    transform: translateZ(0);
    animation: a 1s linear forwards paused;
    animation-delay: calc(var(--progress-full) / .86* -0.85s);
}

.kv-main__textMotion-top-tit {
    font-family: 'archivo-variable';
    font-size: 320rem;
    line-height: 270rem;
    letter-spacing: -0.08em;
    color: #fff;
}

.kv-main__textMotion-top-tit+p {
    margin-top: -40rem;
    font-size: 410rem;
    line-height: 330rem;
    color: #fdff92;
}

.kv-main__textMotion-bottom {
    left: 28rem;
    transform: translateZ(0);
    animation: b 1s linear forwards paused;
    animation-delay: calc(var(--progress-full) / .86* -0.95s);
}

.kv-main__textMotion-bottomDeco {
    margin-bottom: 20rem;
}

.kv-main__textMotion-bottomDeco img {
    width: 338rem;
    height: 140rem;
}

.kv-main__textMotion-bottom-tit {
    font-family: 'archivo-variable';
    font-size: 296rem;
    line-height: 296rem;
    letter-spacing: -0.05em;
    color: #fdff92;
}

.kv-main__img {
    height: 100vh;
    position: relative;
}

.kv-main__img-wrap {
    width: 100%;
    height: 100%;
}

.kv-main__video {
    display: none;
    width: 100%;
    height: inherit;
    position: absolute;
    top: 0;
    z-index: 100;
}

.kv-main__video.s-active {
    display: block;
}

.kv-main__video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.c-btn--pause {
    width: 56rem;
    height: 56rem;
    position: absolute;
    right: 40rem;
    bottom: 40rem;
    background: url(/assets/img/ico_pause.png) no-repeat 50% / cover;
    box-shadow: 0 0 12.17px 0 rgba(0, 0, 0, .1803921569);
    border-radius: 50%;
}

@keyframes textMotion1 {
    0% {
        top: 100%;
        font-variation-settings: 'wght'100;
        transform: translate3d(0, 0, 0);
    }

    33% {
        top: 100%;
        font-variation-settings: 'wght'100;
        transform: translate3d(0, 0, 0);
    }

    40% {
        font-variation-settings: 'wght'400;
    }

    46% {
        font-variation-settings: 'wght'800;
    }

    53% {
        top: -5%;
        transform: translate3d(0, -105%, 0);
    }

    100% {
        top: -5%;
        transform: translate3d(0, -105%, 0);
    }
}

@keyframes textMotion2 {
    0% {
        top: 100%;
        font-variation-settings: 'wght'600;
        transform: translate3d(0, 0, 0);
    }

    53% {
        top: 100%;
        transform: translate3d(0, 0, 0);
    }

    58% {
        font-variation-settings: 'wght'600;
    }

    65% {
        font-variation-settings: 'wght'200;
    }

    70% {
        top: 0%;
        transform: translate3d(0, -100%, 0);
    }

    100% {
        top: 0%;
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes a {
    0% {
        top: 100%;
        font-variation-settings: "wght" 100;
        transform: translateZ(0);
    }
    33% {
        top: 100%;
        font-variation-settings: "wght" 100;
        transform: translateZ(0);
    }
    40% {
        font-variation-settings: "wght" 400;
    }
    46% {
        font-variation-settings: "wght" 800;
    }
    53% {
        top: -5%;
        transform: translate3d(0, -105%, 0);
    }
    100% {
        top: -5%;
        transform: translate3d(0, -105%, 0);
    }
}

@keyframes b {
    0% {
        top: 100%;
        font-variation-settings: "wght" 600;
        transform: translateZ(0);
    }
    53% {
        top: 100%;
        transform: translateZ(0);
    }
    58% {
        font-variation-settings: "wght" 600;
    }
    65% {
        font-variation-settings: "wght" 200;
    }
    70% {
        top: 0;
        transform: translate3d(0, -100%, 0);
    }
    100% {
        top: 0;
        transform: translate3d(0, -100%, 0);
    }
}



/* 고정된 텍스트 공통 스타일 */
main .sect_02 .fixed_text {
    position: fixed; 
    width: 100%;
    text-align: center;
    font-size: 3rem; 
    color: #fff; 
    z-index: 2; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; 
    pointer-events: none; 
}

main .sect_02 .fixed_text.text1 p,
main .sect_02 .fixed_text.text2 p {
    font-family: Archivo_Variable;
    font-size: 20em;
    line-height: 1;
    letter-spacing: -.08em;
    color: #fff;
}



/* 첫 번째 텍스트 애니메이션 */
main .sect_02 .fixed_text.text1 {
    right: 0;
    text-align: left;
    z-index: 30;
    transform: translateZ(0);
    animation: textMotion1 4s ease-in-out 1; /* 4초 동안 한 번만 실행 */
    animation-delay: 1s; /* 캔버스가 스크롤된 후 약간의 딜레이 */
    animation-fill-mode: forwards; /* 애니메이션이 끝난 후 해당 위치에 유지 */
}

main .sect_02 .fixed_text.text1 p {
    font-family: Archivo_Variable;
    font-size: 20em;
    line-height: 1;
    letter-spacing: -.08em;
    color: #fff;
}

/* 두 번째 텍스트 애니메이션 */
main .sect_02 .fixed_text.text2 {
    left: 0;
    transform: translateZ(0);
    animation: textMotion2 4s ease-in-out 1; /* 4초 동안 한 번만 실행 */
    animation-delay: 3s; /* 첫 번째 애니메이션 이후 약간의 딜레이 */
    animation-fill-mode: forwards; /* 애니메이션이 끝난 후 해당 위치에 유지 */
}

main .sect_02 .fixed_text.text2 .animated_img {
    margin-bottom: 100px;
}

main .sect_02 .fixed_text.text2 p {
    font-family: Archivo_Variable;
    font-size: 296rem;
    line-height: 296rem;
    letter-spacing: -.05em;
    color: #fdff92;
}



/* 메인3 - 그룹 이미지 */
main .sect_03 {
    background: linear-gradient(180deg,#fdff92,#feffc1 10%,#fff 30%);
    position: relative;
}

main .sect_03 .group_img_pc { }

main .sect_03 .group_img_pc img {
    width: 80%; margin: 0 auto; display: block; padding: 120px 0 60px;
}

main .sect_03 .group_img_mo {display: none;}

main .sect_03 .group_img_mo img {}

/* 메인3 - 영상  */

main .sect_03 .video {
    padding: 100rem 187rem 40rem;
    background-color: #47a6ff;
}

/* main .sect_03 .video::after {
    content: "";
    display: block;
    width: 100%;
    height: 150vh; 
    position: absolute;
    top: var(--after-top, 100%); 
    left: 0;
    background-color: #47a6ff;
    z-index: -1; 
    transition: top 0.3s ease-out;
    transform: translateY(-100px);
} */


main .sect_03 .top_video {
    height: 870rem;
    border-radius: 30rem;
    overflow: hidden; position: relative;
}

main .sect_03 .top_video .prev_img {
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 20;
    cursor: pointer;
    transition: all .2s;
}
main .sect_03 .top_video .prev_img.hidden {
    opacity: 0;
    pointer-events: none;
}
main .sect_03 .top_video .prev_img > img {
    transform: scale(1.02);
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
}
main .sect_03 .top_video .prev_img button {
    position: absolute; z-index: 1; bottom: 35px; right: 35px; width: 60px; height: 60px;
    box-shadow: 0 0 12.17px 0 rgba(0, 0, 0, .1803921569); border-radius: 50%;
}
main .sect_03 .top_video .prev_img button img {width: 100%;}

main .sect_03 .top_video iframe {
    width: 100%;
    height: 100%;
}

main .sect_03 .btm_details {
    display: flex;
    justify-content: flex-end;
    margin: 0 -40rem;
    padding: 52rem 40rem 10rem;
    background-color: #47a6ff;
}

main .sect_03 .btm_details .logo {
    flex: auto;
}

main .sect_03 .btm_details .logo img {
    width: 200rem;
    height: 100rem;
}

main .sect_03 .btm_details .language {
    width: 30%; margin-right: 12%;
}

main .sect_03 .btm_details .language .tabs {
    margin-top: 40rem;
    padding-bottom: 100rem;
    margin-bottom: 0;
    display: flex;
    gap: 10rem;
    margin-bottom: 30rem;
}

main .sect_03 .btm_details .language .tabs .tab {
    padding: 11rem 22rem 10rem;
    border: 1px solid #b0d9ff;
    border-radius: 100rem;
    font-family: Acumin Pro, sans-serif;
    font-weight: 600;
    font-size: 14rem;
    line-height: 1;
    color: #b0d9ff;
}
main .sect_03 .btm_details .language .tabs .tab.now {
    border-color: #fdff92;
    color: #fdff92;
    border-width: 1.5px;
}
main .sect_03 .btm_details .language .contents {}

main .sect_03 .btm_details .language .contents .content {
    font-family: Pretendard;
    margin-right: 30rem;
    letter-spacing: -.05em;
    width: 594rem;
    font-size: clamp(7px, 1vw, 18rem);
    -webkit-text-size-adjust: 100%;
    padding-top: 14px;
    font-weight: 500;
    line-height: clamp(12px, 2vw, 28rem);
    color: #fff; display: none;
}
main .sect_03 .btm_details .language .contents .content.now {
    display: block;
}

main .sect_03 .btm_details .eg_txt {
    width: 594rem;
    font-size: clamp(7px, 1vw, 18rem);
    -webkit-text-size-adjust: 100%;
    padding-top: 14px;
    font-weight: 500;
    line-height: clamp(12px, 2vw, 26rem);
    color: #fff;
    font-family: Acumin Pro, sans-serif;
}

/* 메인5 - sns */
main .sect_05 {
    background-color: #fff; position: relative;
    padding: 200rem 0 252rem;
}

main .sect_05 h2 {
    display: flex;
    align-items: flex-start;
    font-weight: 600;
    font-size: 210rem;
    line-height: 1;
    letter-spacing: -10.5rem;
    text-transform: uppercase;
    color: #373737;
    padding: 0 40rem;
}

main .sect_05 .sns_container {}

main .sect_05 .sns_container .sns_wrap {
    display: flex; flex-wrap: wrap; padding: 0 40rem;
    justify-content: space-between; margin-top: 120rem;
}

main .sect_05 .sns_container .sns_wrap .sns_box {
    width: calc((100% - 20px) / 3);  border-radius: 30px; position: relative;
    margin-bottom: 10px;
}

main .sect_05 .sns_container .sns_wrap .sns_box .photo {
    width: 100%; height: 0; padding-top: 75%; position: relative; overflow: hidden; border-radius: 30px;
}

main .sect_05 .sns_container .sns_wrap .sns_box .photo::after {
    content: ""; display: block; width: 100%; height: 50%; position: absolute; bottom: 0; left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0,0,0,0.5), rgba(0, 0, 0, 0));
}

main .sect_05 .sns_container .sns_wrap .sns_box .photo img {
    width: 100%;  position: absolute; top: 0;
}

main .sect_05 .sns_container .sns_wrap .sns_box .txt_box {
    width: 0; height: 0;
}

main .sect_05 .sns_container .sns_wrap .sns_box .txt_box h3 {
    font-family: Pretendard_Variable;
    font-size: 1.6249em;
    font-weight: 500;
    color: #fff; letter-spacing: -0.03em;
    position: absolute; bottom: 20rem; left: 30rem;
    width: 472rem; height: 80rem; display: flex; align-items: center;
    
}
main .sect_05 .sns_container .sns_wrap .sns_box .txt_box h3 span {
    overflow: hidden; text-overflow: ellipsis; display: block;
    display: -webkit-box; -webkit-line-clamp: 2;
    -webkit-box-orient : vertical; font-size: 26rem;
    line-height: 36rem; font-weight: 500; letter-spacing: -.06em; color: #fff;
}

main .sect_05 .sns_container .sns_wrap .sns_box .txt_box .icon {
    position: absolute;
    bottom: 30rem;
    right: 30rem;
    width: 60rem;
    height: 60rem;
    padding: 13.63rem;
    display: flex
;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(19.0909080505rem);
    backdrop-filter: blur(19.0909080505rem);
    box-shadow: 0 0 9.55rem 0 rgba(0, 0, 0, .0588235294);
    z-index: 1;
    border-radius: 100%;
    overflow: hidden;
}

main .sect_05 .sns_container .sns_wrap .sns_box .txt_box .icon::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: hsla(0, 0%, 100%, .2392156863);
    border-radius: 100%;
    -webkit-backdrop-filter: blur(9.5454549789rem);
    backdrop-filter: blur(9.5454549789rem);
    box-shadow: 0 0 4.77rem 0 rgba(0, 0, 0, .0588235294);
}

main .sect_05 .sns_container .sns_wrap .sns_box .txt_box .icon img {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}


main .sect_05 .sns_container .sns_wrap .soon_box {
    background: url("../images/comingsoon_02.jpg") no-repeat;
    background-size: cover;
    width: calc((100% - 20px) / 3);
    border-radius: 30px;
    position: relative;
    margin-bottom: 10px;
}



main .sect_05 .sns_container .sns_wrap .soon_box .txt {
    position: absolute;  top: 50%; left: 50%;  color: #fff; transform: translate(-50%,-50%);
    font-size: 30rem; font-weight: 500; letter-spacing: -0.04em;
}  

main .sect_05 .sns_container .sns_wrap .sns_box,
main .sect_05 .sns_container .sns_wrap .soon_box {display: none;}

main .sect_05 .sns_container .sns_wrap .sns_box.show,
main .sect_05 .sns_container .sns_wrap .soon_box.show {display: block;}





main .sect_05 .sns_container .sns_wrap .sns_box .coming_soon {}

main .sect_05 .sns_container #view_more_sns_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10rem;
    padding: 32rem 22rem;
    border-radius: 30rem;
    background-color: #eef2f6;
}

main .sect_05 .sns_container #view_more_sns_btn span {
    margin-right: 10rem;
    font-family: Pretendard_Variable;
    font-size: 26rem;
    font-weight: 700;
    line-height: 32rem;
    letter-spacing: -.04em;
    color: #373737;
    text-transform: uppercase;
    display: block;   
}

main .sect_05 .sns_container #view_more_sns_btn img {
    width: 34rem;
    height: 34rem;
    transition: -3s ease-in-out;
}

/* 메인6 - 비쥬얼 */
main .sect_06 {
    padding: 200rem 0 252rem;
}

main .sect_06 h2 {
    display: flex;
    align-items: flex-start;
    font-weight: 600;
    font-size: 210rem;
    line-height: 1;
    letter-spacing: -10.5rem;
    text-transform: uppercase;
    color: #373737;
    padding: 40rem;
}

main .sect_06 .visual_container {
    padding: 0 40rem;
    margin-top: 120rem;
}

main .sect_06 .visual_container .visual_wrap {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: var(--gap, 10px);
}

main .sect_06 .visual_container .visual_wrap .visual_box {
    position: relative;
    height: 454rem;
    border-radius: 30rem;
    overflow: hidden;
    cursor: pointer;
}

main .sect_06 .visual_container .visual_wrap .visual_box img {
    width: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
}

main .sect_06 .visual_container .visual_wrap .visual_box .raw_img {
    width: 120%;
}

main .sect_06 .visual_container .visual_wrap .soon_box {
    position: relative;
    height: 454rem;
    border-radius: 30rem;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 10px; background: url("../images/comingsoon_02.jpg") no-repeat;
    background-position: center; background-size: cover;
}



main .sect_06 .visual_container .visual_wrap .soon_box .txt {
    position: absolute; top: 50%; left: 50%;  color: #fff; transform: translate(-50%,-50%);
    font-size: 30rem; font-weight: 500; letter-spacing: -0.04em;
}


main .sect_06 .visual_container #view_more_visual_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10rem;
    padding: 32rem 22rem;
    border-radius: 30rem;
    background-color: #eef2f6;
}

main .sect_06 .visual_container #view_more_visual_btn span {
    margin-right: 10rem;
    font-family: Pretendard_Variable;
    font-size: 26rem;
    font-weight: 700;
    line-height: 32rem;
    letter-spacing: -.04em;
    color: #373737;
    text-transform: uppercase;
    display: block;
}

main .sect_06 .visual_container #view_more_visual_btn img {
    width: 34rem;
    height: 34rem;
    transition: -3s ease-in-out;
}



main .sect_06 .visual_container .visual_wrap .visual_box,
main .sect_06 .visual_container .visual_wrap .soon_box {display: none;}

main .sect_06 .visual_container .visual_wrap .visual_box.show,
main .sect_06 .visual_container .visual_wrap .soon_box.show {display: block;}



main .sect_06 .visual_popup {display: none;}

main .sect_06 .visual_popup .photo {}

main .sect_06 .visual_popup .photo img {}

main .sect_06 .visual_popup .button_wrap {}

main .sect_06 .visual_popup .button_wrap div {}

main .sect_06 .visual_popup .button_wrap div img {}

main .sect_06 .visual_popup .button_wrap .swiper-button-prev {}

main .sect_06 .visual_popup .button_wrap .swiper-button-next {}

main .sect_06 .visual_popup .button_wrap .swiper-button-next img {}

main .sect_06 .visual_popup .close_btn {}

main .sect_06 .visual_popup .close_btn img {}




/* 메인7 - 히스토리 */
main .sect_07 {
    background: url(../images/history_pc_bg.png) no-repeat;
    background-size: cover; background-position: center;
    width: 100%; position: relative;
    height: 1244rem;
    background-color: #000;
}

main .sect_07 .text_container {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    padding: 153rem 40rem 200rem 60rem;
    box-sizing: border-box;
    display: flex
;
    justify-content: space-between;
    align-items: start;
    color: #ececec;
    background: linear-gradient(180deg, transparent 58.03%, #000 74.74%);
}

main .sect_07 .text_container .left_year {width: 30%; margin-right: 30px; width: 488rem;}

main .sect_07 .text_container .left_year img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}

main .sect_07 .text_container .center_language {
    width: 35%; position: relative;
    display: flex;
    flex-direction: column-reverse;
    margin-right: 40rem;
}

main .sect_07 .text_container .center_language .contents {}

main .sect_07 .text_container .center_language .contents .content {
    color: #ececec;
    display: none;
    font-family: Pretendard_Variable;
    font-size: 18rem;
    line-height: 28rem;
    letter-spacing: -.05em;
}
main .sect_07 .text_container .center_language .contents .content.now {
    display: block;
}

main .sect_07 .text_container .center_language .tabs {
    display: flex;
    margin-top: 50px;
    position: absolute; left: 0; bottom: -140rem;
    display: flex;
    gap: 10rem;
}

main .sect_07 .text_container .center_language .tabs .tab {
    color: #bebebe;
    padding: 11rem 22rem 10rem;
    border: 1px solid #bebebe;
    border-radius: 100rem;
    font-family: Acumin_Pro;
    font-weight: 600;
    font-size: 14rem;
    line-height: 1;
    cursor: pointer;
}
main .sect_07 .text_container .center_language .tabs .tab.now {
    color: #47a6ff; border-color: #47a6ff; border-width: 1.5px;
}

main .sect_07 .text_container .right_eg {
    width: 35%; color: #ececec; font-family: Pretendard_Variable;
    font-size: 18rem;
    font-weight: 500;
    line-height: 28rem;
    letter-spacing: -.05em;
}

/* 메인8 - 스토리 */
main .sect_08 {
    padding: 200rem 0; position: relative;
    overflow: hidden; background: #fff;
}

main .sect_08 h2 {
    display: flex;
    align-items: flex-start;
    font-weight: 600;
    font-size: 210rem;
    line-height: 1;
    letter-spacing: -10.5rem;
    text-transform: uppercase;
    color: #373737;
    padding: 0 40rem;
}

main .sect_08 .swiper-container {
    padding-left: 40rem;
    margin-top: 120rem;
}

main .sect_08 .swiper-container .swiper-wrapper {}

main .sect_08 .swiper-container .swiper-wrapper .swiper-slide {
    transition: all 0.3s;
}
main .sect_08 .swiper-container .swiper-wrapper .swiper-slide:hover {
    transform: translateY(-70px);
}

main .sect_08 .swiper-container .swiper-wrapper .swiper-slide .photo {
    width: 100%;
    aspect-ratio: 440 / 586;
    object-fit: cover;
    border-radius: 30px;
}

main .sect_08 .swiper-container .swiper-wrapper .swiper-slide .photo img {
    width: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
    width: 100%;
    aspect-ratio: 440 / 586;
    object-fit: cover;
    border-radius: 30px;
}

main .sect_08 .swiper-container .swiper-wrapper .swiper-slide .txt {
    display: flex;
    align-items: flex-start;
    font-weight: 500;
    font-size: 32rem;
    line-height: 42rem;
    letter-spacing: -.055em;
    color: #373737;
    transform: translateY(0) translateX(-4rem);
    transition: all .32s;
    font-family: Pretendard;
}

main .sect_08 .swiper-container .swiper-wrapper .swiper-slide .txt .num {
    font-weight: 500;
    font-size: 24rem;
    line-height: 48rem;
    letter-spacing: -1.44rem;
    color: #373737;
    transform: translateY(-28rem) translateX(1rem);

}

main .sect_08 .button_wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 46rem;
    margin-top: 170rem;
}

main .sect_08 .button_wrap div {
    position: unset; width: 74rem;
}
main .sect_08 .button_wrap div::after {display: none;}

main .sect_08 .button_wrap div img {width: 100%;}

main .sect_08 .button_wrap .swiper-button-prev {}

main .sect_08 .button_wrap .swiper-button-next {}

main .sect_08 .button_wrap .swiper-button-prev img {transform: rotate(180deg);}

/* 푸터 위 텍스트 */
main .floating_txt {
    display: flex; 
    background: #fdff92;
    overflow: hidden;
    white-space: nowrap;
}

main .floating_txt .floating_txt_wrapper {
    padding: 48rem 0 63rem;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    will-change: transform;
}
main .floating_txt .floating_txt_wrapper p {
    height: 100%; margin-left: 308rem;
}

main .floating_txt p img {width: max-content; height: 48rem;}

@keyframes scrollLeft {
    0% {
        transform: translateX(0); /* 시작 위치 */
    }
    100% {
        transform: translateX(-100%); /* 끝 위치: 콘텐츠의 너비만큼 왼쪽으로 이동 */
    }
}





